In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
complaints_df = pd.read_csv('consumer-complaints.csv', index_col=0, encoding='ISO-8859–1')
complaints_df.head()

,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
Date received,,,,,,,,,,,,,,,,,
2021-03-23,"Money transfer, virtual currency, or money ser...",Mobile or digital wallet,Fraud or scam,NaN,NaN,NaN,Square Inc.,SC,NaN,NaN,NaN,Web,2021-03-23,Closed with explanation,Yes,NaN,4239112
2019-09-24,Debt collection,I do not know,Attempts to collect debt not owed,Debt is not yours,transworld systems inc. \nis trying to collect...,NaN,TRANSWORLD SYSTEMS INC,FL,335XX,NaN,Consent provided,Web,2019-09-24,Closed with explanation,Yes,NaN,3384392
2019-09-19,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information belongs to someone else,NaN,Company has responded to the consumer and the ...,Experian Information Solutions Inc.,PA,15206,NaN,Consent not provided,Web,2019-09-20,Closed with non-monetary relief,Yes,NaN,3379500
2019-11-08,Debt collection,I do not know,Communication tactics,Frequent or repeated calls,"Over the past 2 weeks, I have been receiving e...",NaN,"Diversified Consultants, Inc.",NC,275XX,NaN,Consent provided,Web,2019-11-08,Closed with explanation,Yes,NaN,3433198
2021-03-21,"Money transfer, virtual currency, or money ser...",Mobile or digital wallet,"Managing, opening, or closing your mobile wall...",NaN,NaN,NaN,"Paypal Holdings, Inc",NaN,NaN,NaN,NaN,Web,2021-03-21,Closed with explanation,Yes,NaN,4233975

In [6]:
complaints_df.describe()

       Complaint ID
count  2.033638e+06
mean   2.590580e+06
std    1.166640e+06
min    1.000000e+00
25%    1.735942e+06
50%    2.872286e+06
75%    3.549778e+06
max    4.273549e+06

In [5]:
zipcode_df = pd.read_csv('income-tax-zip-code.csv', index_col=0, encoding='ISO-8859–1')
zipcode_df.head()

,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,PREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
STATEFIPS,,,,,,,,,,,,,,,,,,,,,
1,AL,0,1,768120.0,466830.0,90960.0,198750.0,696930.0,37470.0,399160.0,...,0.0,0.0,59030.0,50007.0,669420.0,1732176.0,666750.0,1725286.0,2730.0,4220.0
1,AL,0,2,503430.0,225110.0,130060.0,134320.0,457510.0,23180.0,266880.0,...,0.0,0.0,77300.0,111047.0,424280.0,1230668.0,420960.0,1220934.0,4110.0,9399.0
1,AL,0,3,274590.0,95560.0,131770.0,41020.0,248630.0,13210.0,157800.0,...,0.0,0.0,68920.0,148870.0,205830.0,562490.0,201770.0,550675.0,5790.0,15182.0
1,AL,0,4,174830.0,35560.0,123370.0,12700.0,159190.0,6830.0,102340.0,...,0.0,0.0,47730.0,136776.0,126560.0,403410.0,122610.0,388967.0,3730.0,13784.0
1,AL,0,5,245150.0,25990.0,207950.0,6480.0,224280.0,10500.0,145010.0,...,50.0,58.0,98980.0,446992.0,145780.0,598498.0,137120.0,521691.0,9850.0,65917.0

In [7]:
zipcode_df.describe()

,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,PREP,DIR_DEP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
count,165935.000000,165935.000000,1.659350e+05,1.659350e+05,1.659350e+05,165935.000000,1.659350e+05,165935.000000,1.659350e+05,1.659350e+05,...,165935.000000,1.659350e+05,1.659350e+05,1.659350e+05,1.659350e+05,1.659350e+05,1.659350e+05,1.659350e+05,165935.000000,1.659350e+05
mean,48830.358665,3.499937,1.816297e+03,8.718270e+02,6.501056e+02,256.505439,1.635178e+03,99.639377,9.564313e+02,1.125977e+03,...,58.854612,3.205651e+02,3.827916e+02,2.091741e+03,1.385090e+03,4.931203e+03,1.346609e+03,3.871452e+03,47.052762,1.005146e+03
std,27164.072793,1.707874,3.647389e+04,2.141347e+04,1.193886e+04,6388.834209,3.257690e+04,2279.593998,1.957776e+04,2.344347e+04,...,3000.107929,1.852933e+04,7.382627e+03,6.955619e+04,2.894236e+04,1.032141e+05,2.855229e+04,7.473098e+04,1049.879512,4.896198e+04
min,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,27010.000000,2.000000,7.000000e+01,0.000000e+00,4.000000e+01,0.000000,6.000000e+01,0.000000,5.000000e+01,4.000000e+01,...,0.000000,0.000000e+00,2.000000e+01,1.900000e+01,5.000000e+01,1.690000e+02,4.000000e+01,1.490000e+02,0.000000,0.000000e+00
50%,48821.000000,3.000000,2.600000e+02,7.000000e+01,1.100000e+02,20.000000,2.300000e+02,0.000000,1.500000e+02,1.500000e+02,...,0.000000,0.000000e+00,6.000000e+01,1.440000e+02,1.900000e+02,6.500000e+02,1.800000e+02,5.650000e+02,0.000000,0.000000e+00
75%,70634.000000,5.000000,1.050000e+03,3.600000e+02,3.800000e+02,90.000000,9.500000e+02,50.000000,5.600000e+02,6.000000e+02,...,0.000000,0.000000e+00,2.300000e+02,6.510000e+02,7.600000e+02,2.500000e+03,7.200000e+02,2.197000e+03,30.000000,7.200000e+01
max,99999.000000,6.000000,5.493810e+06,3.974180e+06,1.796210e+06,932620.000000,4.785330e+06,405010.000000,3.140770e+06,3.123300e+06,...,868630.000000,5.061631e+06,1.161240e+06,1.953580e+07,4.324280e+06,1.803607e+07,4.289890e+06,9.180748e+06,217260.000000,1.206390e+07

In [11]:
hate_crime_df = pd.read_csv('2019_HC_NATIONAL_MASTER_FILE_ENC_STATIC.txt', sep="\t")
hate_crime_df.head()

  BH50AK001010000000000000020200430       0Anchorage                     AK1C94 Y         3030020A         000287731  0 38000000000000000000  0   000000000000000000  0   000000000000000000  0   000000000000000000  0   0000000002019IIIZ    ANCHORAGE                      20
0  IR50AK0010100T33K8U7VSCTD20190926F300401W13B00...
1  IR50AK00101008X-VSBRU728N20190212F100101W13B00...
2  IR50AK00101007L-NTBYWPU7220190515F200101W13C00...
3  IR50AK0010100T338OIYVSCTD20190909F300102I12000...
4  IR50AK00101007L-TTGAWPU7220190720F300102I13A00...